# Data exploration

In [10]:
import scanpy as sc
import os

Check the working directory

In [11]:
os.getcwd() #get current working directory

'C:\\Users\\Nastavnik\\S3_project\\DDD_disk\\notebooks'

In [13]:
os.chdir('C:\\Users\\Nastavnik\\S3_project\\DDD_disk')

In [14]:
adata = sc.read_10x_h5("data/nCoV_PBMC_1.h5")

C:\Users\Nastavnik\miniconda3\envs\sc_analysis\lib\site-packages\scanpy\readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
C:\Users\Nastavnik\miniconda3\envs\sc_analysis\lib\site-packages\anndata\_core\anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [15]:
# print the content of the object (overview of what we have)
adata

AnnData object with n_obs × n_vars = 1500 × 33538
    var: 'gene_ids', 'feature_types', 'genome'

Slicing the object (selecting cells of genes)
adata_subset = adata[something that defines the rows , something that defines the columns]

In [20]:
adata_subset = adata[:100 , :] # selct first 100 cells and all genes

In [21]:
adata_subset

View of AnnData object with n_obs × n_vars = 100 × 33538
    var: 'gene_ids', 'feature_types', 'genome'

Accessing slots within the object

In [17]:
adata.obs  # Additional information that refers to each cell

Empty DataFrame
Columns: []
Index: [AGGGTCCCATGACCCG-1, TACCCACAGCGGGTTA-1, CCCAACTTCATATGGC-1, TCAAGTGTCCGAACGC-1, ATTCCTAGTGACTGTT-1, GTGTTCCGTGGGCTCT-1, CCTAAGACAGATTAAG-1, AATAGAGAGGGTTAGC-1, GGGTCACTCACCTACC-1, TCCTCTTGTACAGTCT-1, GAGATGGTCCGAGCTG-1, GGGTGAAGTTTACCTT-1, ACTACGATCCGAAATC-1, ATCGATGAGCAAGTCG-1, TTAGGCAAGGGCCCTT-1, AATGGAACACATACTG-1, CACTTCGGTAGATTAG-1, GGATCTATCTTACTGT-1, TGCAGATAGAATCCCT-1, CACGTGGAGAGGGTCT-1, AAAGGATCAAGACAAT-1, AGTGACTGTAGACTGG-1, AGAAGTACACATACTG-1, AGCGATTTCGTAGGAG-1, ACCCTCAGTGGTTCTA-1, TGTAGACAGCCTCAAT-1, GGGCCATTCAGCCTTC-1, TCACGGGTCGCAGTTA-1, CTCATCGAGATCGCCC-1, CTCCTCCAGACCATTC-1, CCTCAACTCATCGACA-1, GTTGCGGTCCAACCAA-1, ATGGTTGTCTCAATCT-1, CCACTTGTCATACGAC-1, GATCCCTGTAACAGTA-1, CATACTTTCGACATAC-1, CGGACACAGAACCGCA-1, ATTCCTACAATCGCAT-1, GTGACGCAGCCTGCCA-1, GGTGGCTAGCGAATGC-1, GTTCGCTTCAATCCGA-1, GTCATGACACGTGTGC-1, ATCACAGGTATCGCAT-1, CCTGTTGTCCGCAAAT-1, CATTGCCCAGAGGAAA-1, CGAGAAGGTTGCGGCT-1, CTCATGCTCGAGTCCG-1, TCTCTGGCACTGAATC-1, TCGCTTGAGATGTTCC-1, CACAGATAGACGATAT-1, ACGATGTAGGGTCTTT-1, AGTAACCAGAAACTGT-1, TCTGGCTCACCAGGTC-1, AAAGAACAGGAGAGGC-1, TGGGAAGTCGCCTCTA-1, TGGGCTGCAGATTTCG-1, TTGTGTTGTATAGCTC-1, TCTATACTCAAGCCCG-1, AGTGACTCAAGGAGTC-1, AGGCATTTCTAGAGCT-1, CACTGGGTCCACACAA-1, TGAGCATGTATTGGCT-1, GGATCTATCAGTGTCA-1, TGCCGAGGTCGTGGTC-1, CAAGACTAGACGGTTG-1, TAGTGCAGTGGTCCGT-1, ACCACAATCCGCACGA-1, TCAGCCTAGATGATTG-1, TGAGGTTCACACAGAG-1, ATAGAGACAGCTATAC-1, GGAGAACAGTTGTCAC-1, AGTGATCAGGGCTAAC-1, AACAAGAAGAGGGCGA-1, CAGGTATGTAGGAAAG-1, CTTCCTTTCAAACGAA-1, TCCGATCCACTTCAAG-1, CCGGTAGGTATACAGA-1, GGGAGATTCTGAGTCA-1, TTTCCTCTCACTGGTA-1, ATCGGCGTCTTGGAAC-1, ACGGTTATCTTTGATC-1, TGCTCGTTCCTCAGGG-1, AATCGACAGGAGAGTA-1, GAAGGGTCAACGCATT-1, GCCTGTTAGTCATAGA-1, ATTCCATTCCAACCGG-1, AGCCACGAGCCAAGCA-1, TGTCAGACATATGAAG-1, GTTGTGACAATATCCG-1, AGGCTGCTCAGTCTTT-1, GAACACTAGTGACCTT-1, AATGACCTCGAGAAGC-1, TCATTACTCAGTCCGG-1, AGACAAAGTCTTCCGT-1, TCGGATAGTCACTGAT-1, TTGCCTGTCCGAAGGA-1, TAGGAGGCACACGGAA-1, TCACATTAGCGCTGAA-1, CCGTTCACAGACACAG-1, AGTTCGAAGGAGAGGC-1, ...]

[1500 rows x 0 columns]

In [18]:
adata.var  # Additional information for each gene

                    gene_ids    feature_types  genome
MIR1302-2HG  ENSG00000243485  Gene Expression  GRCh38
FAM138A      ENSG00000237613  Gene Expression  GRCh38
OR4F5        ENSG00000186092  Gene Expression  GRCh38
AL627309.1   ENSG00000238009  Gene Expression  GRCh38
AL627309.3   ENSG00000239945  Gene Expression  GRCh38
...                      ...              ...     ...
AC233755.2   ENSG00000277856  Gene Expression  GRCh38
AC233755.1   ENSG00000275063  Gene Expression  GRCh38
AC240274.1   ENSG00000271254  Gene Expression  GRCh38
AC213203.1   ENSG00000277475  Gene Expression  GRCh38
FAM231C      ENSG00000268674  Gene Expression  GRCh38

[33538 rows x 3 columns]

In [19]:
adata.obsm   # Additional information for each cell but as a full table / data matrix

AxisArrays with keys:

In [22]:
adata.uns   # Additional unstructured information

OverloadedDict, wrapping:
	OrderedDict()
With overloaded keys:
	['neighbors'].

In [ ]:
Printing the object: adata
Slicing the object: adata[rows, columns]
Working on specific slots in the object:
Adding data to adata.obs / adata.uns / adata.obsm

n_obs: number of observation, number of cells, rows
n_vars: number of vbariables,  number of genes, columns